:root {
  --color-primary-pale: hsl(225, 100%, 94%);
  --color-primary-bright: hsl(245, 75%, 52%);
  --color-neutral-very-pale: hsl(225, 100%, 98%);
  --color-neutral-disaturated: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  margin: 0;
}

/* Main container  */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary-pale);
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto;
 }


/* Card */

.card {
  width: 300px;
  height: 500px;
  background-color: gold;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 3px hsl(225deg 68% 75%);
}


/* Button */

.btn {
  border-radius: 13px;
  font-size: 1.8rem;
  font-weight: 700;
  height: fit-content;
  padding: 12px 30px;
  text-align: center;
  width: 70%;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: var(--color-primary-bright);
  box-shadow: 1px 1px 5px rgba(78, 76, 76, 0.3);
  color: var(--color-neutral-very-pale);
}

.btn-primary:hover {
  background-color: rgb(146, 110, 245);
}

.btn-secondary {
  color: rgb(146, 141, 141);
}

.btn-secondary:hover {
  color: rgb(66, 65, 65);
}

/* **************************** */


.plan-div{
    width: 85%;
    padding: 10px;
    background-color: hsl(225deg 100% 89%);
    border-radius: 20px;
    height: 50px;
}

.plan-div img{
    float: left;
    margin-right: 20px;

}

.plan-div a{
    float: right;
    margin: 15px;
    color: rgb(30, 83, 255);
    font-size: 12px;
}

.plan-div a:visited{
    color: rgb(30, 83, 255);
}

.plan-div h3{
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 13px;
}

.price{
    display: inline-block;
}

.price span{
    color: rgb(146, 141, 141);
    font-size: 13px;
}

